h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}
.imgBox{
    width: 720px;
    margin: 50px auto 20px;
}
.imgBox img{
    width: 100%;
    border: 4px;
    box-shadow: 0 5px 25px black;
}
ul.thumb{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.thumb li{
    list-style: none;
    margin: 0 10px;
}
ul.thumb li img{
    border: 4px;
    box-shadow: 0 5px 25px black;
}