body {
    width: 1000px;
    font-size: 15px;
}
.title{
    font-size: 20px;
    position: relative;
    bottom: 20px;
    padding: 0 0 0 340px;
    margin: 30px;
}
.box{
    width: 800px;
    height: 340px;
    padding: 20px;
    margin: 100px auto;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}
h1 {
    font-size: 20px;
    position: relative;
}
.lorem{
    position: relative;
    bottom: 40px;
    padding: 0 0 0 340px;
    margin: 30px;

}
.image1{
    width: 340px;
    height: 200px;
    position: absolute;
    top: 120px;
    left: 120px;
}
.image2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 330px;
    left: 120px;
}
.image3{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 330px;
    left: 240px;
}
.image4{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 330px;
    left: 360px;
}

.button{
    background-color: blue;
    color: white;
    border-radius: 4px;
    position: absolute;
    bottom: 130px;
    right: 500px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white;
    color: blue;
}
.box1{
    width: 800px;
    height: 200px;
    padding: 20px;
    margin: 100px auto;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}
.box2{
    width: 800px;
    height: 220px;
    padding: 20px;
    margin: 100px auto;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}
.box3{
    width: 800px;
    height: 220px;
    padding: 20px;
    margin: 100px auto;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}

hr.one{
    border: none;
    height: 0;
    background: gray;
}
hr.two{
    border: none;
    height: 0;
    background: gray;
}
hr.three{
    border: none;
    height: 0;
    background: gray;
}
.image5{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 750px;
    right: 300px;
}
.image6{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 1200px;
    left: 210px;
}
.image7{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 1565px;
    left: 210px;
}
.numbers{
    width: 120px;
    height: 30px;
    position: absolute;
    padding: 0 0 0 500px;
    text-align: center;
    top: 810px;
}
.something{
    width: 120px;
    height: 30px;
    position: absolute;
    padding: 0 0 0 500px;
    text-align: center;
    top: 870px;
}
.date1{
   font-size: 10px;
    position: absolute;
    top: 1400px;
    left: 120px;
}
.date2{
    font-size: 10px;
    position: absolute;
    top: 1765px;
    left: 120px;
}
.wrapper{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}
@media only screen and (min-width: 768px) and (max-width: 980px) {

    html body {
        width: 80%;
    }

    .box {
        width: 80%;
        height: 700px;
        padding: 10px;
        border-width: 2px;
        border-color: lightgray;
        border-style: solid;
    }

    .title {
        text-align: center;
        position: relative;
        top: 320px;
        padding: 0 0 50% 0;

    }

    .lorem {
        text-align: center;
        position: relative;
        top: 40px;
        padding: 0 0 50% 0;
        margin: 30px;
    }

    .box1 {
        position: absolute;
        width: 40%;
        height: 18%;
        padding: 10px;
        top: 90%;
        left: 30%;
        border-width: 2px;
        border-color: lightgray;
        border-style: solid;
    }

    .box2{
        position: absolute;
        width: 60%;
        height: 35%;
        padding: 10px;
        top: 130%;
        left: 20%;
        border-width: 2px;
        border-color: lightgray;
        border-style: solid;
    }

    .box3{
        position: absolute;
        width: 60%;
        height: 35%;
        padding: 10px;
        top: 170%;
        left: 20%;
        border-width: 2px;
        border-color: lightgray;
        border-style: solid;
    }

    .image1 {
        position: absolute;
        margin-left: 60px;
        width: 52%;
        padding: 10px;
    }

    .image2 {
        position: absolute;
        margin-left: 60px;
        width: 15%;
        padding: 10px;
    }

    .image3 {
        position: absolute;
        margin-left: 80px;
        width: 15%;
        padding: 10px;
    }

    .image4 {
        position: absolute;
        margin-left: 100px;
        width: 15%;
        padding: 10px;
    }

    .button {
        background-color: blue;
        color: white;
        border-radius: 4px;
        position: absolute;
        bottom: 150px;
        right: 320px;
        margin: 30px;
        transition-duration: 0.4s;
    }

    .button:hover {
        background-color: white;
        color: blue;
    }

    .additional{
        text-align: center;
        position: relative;
        top: 100%;
        padding: 0 0 50% 0;
        margin: 30px;
    }

    .image5{
        position: absolute;
        width: 30%;
        height: 15%;
        top: 17%;
        left: 60%;
    }

    .image6{
        position: absolute;
        width: 20%;
        height: 10%;
        top: 5%;
        left: 22%;
    }

    .image7{
        position: absolute;
        width: 20%;
        height: 10%;
        top: 5%;
        left: 22%;
    }

    .numbers{
        position: absolute;
        width: 30%;
        height: 15%;
        top: 50%;
        right: 10%;
    }

    .something{
        position: absolute;
        width: 30%;
        height: 15%;
        top: 80%;
        right: 10%;
    }

    .recent{
        text-align: center;
        position: relative;
        top: 400%;
        padding: 0 0 50% 0;
        margin: 30px;
    }

    .date1{
        position: absolute;
        width: 20%;
        height: 10%;
        top: 90%;
        left: 2%;
    }

    .date2{
        position: absolute;
        width: 20%;
        height: 10%;
        top: 90%;
        left: 2%;
    }


}





